@tailwind base;
@tailwind components;
@tailwind utilities;

.postcard {
  background-color: transparent;
  height: 234px;
  perspective: 1000px;
  transition: transform 0.4s;
}

@media (min-width: 640px) {
  .postcard {
    height: 420px;
  }
}

.postcard:hover {
  transform: scale(1.05);
}

.postcard-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.postcard-inner.flipped {
  transform: rotateY(180deg);
}

.postcard-front,
.postcard-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.postcard-back {
  transform: rotateY(180deg);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* --------------- MARKDOWN TO HTML STYLES --------------- */

/* globals.css */
.essay-content h2 {
  @apply text-2xl font-semibold text-black pt-4;
}

/* Style for p tags within essay content */
.essay-content p {
  @apply text-base text-black;
}

.essay-content li {
  @apply text-base text-black;
  list-style: disc; /* Change the bullet style here */
  list-style-position: inside;
}

.essay-content img {
  @apply w-full;
}

.essay-content figure {
  @apply mb-4 grid gap-4;
}

.essay-content figcaption {
  @apply text-sm text-primary-grey font-medium text-center px-4;
}

/* --------------- NEW STYLES --------------- */

.section {
  @apply bg-white md:rounded-xl rounded-none px-6 py-8 shadow-sm;
}
